# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
ENV/
.venv/
bin/
include/
lib/
Lib/
Scripts/
pyvenv.cfg

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs and database
*.log
*.sqlite3

# macOS files
.DS_Store

# Python environment variables
.env

# VSCode specific settings (if using VSCode)
.vscode/
